<!-- Describe task in general -->

<p style="text-align: justify;">
    У північних водах моряки кажуть, що бачили Корабель-привид, який патрулює води. Після того, як вони побачили корабель-привид, ніхто не бачить інших кораблів. Це викликає проблему: як відрізнити звичайний корабель від корабля-привида в такому густому тумані? Ми можемо використати для цього програму-локатор.
</p>

<p style="text-align: justify;">
    Для нормального корабля відбиті сигнали мають однакову тривалість. Отже, чекаємо на три сигнали, і якщо вони мають однакову тривалість, то ми в безпеці, бо корабель нормальний. Якщо ви бачите різницю - нам краще тікати, тому що це корабель-привид.
</p>

<p style="text-align: justify;">
    Розглянемо кілька прикладів:<br>
    - Номер на локаторі - 21. Це "10101" у двійковій формі, і ми бачимо 3 сигнали тривалістю 1 секунда кожен. Це нормальний корабель.<br>
    - Номер 1587. У двійковій формі "11000110011" і ми бачимо 3 сигнали тривалістю 2 секунди, але з різними паузами. Це нормально.<br>
    - Номер - 3687. Двійкова форма - "111001100111" і ми бачимо 3 сигнали. Два сигнали тривалістю 3 секунди і один - 2 секунди. Це гарна ідея для втечі.
</p>

<p style="text-align: justify;">
    У нас є ще одна пропозиція для цього завдання. Це місія з кодового гольфу, і ваша головна мета - зробити свій код якомога коротшим (200 - абсолютний максимум, чим менше - тим краще). 
</p>

<!-- <p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 83px"/>
</p> -->

<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> Ціле число <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Вихідні дані:</strong> Нормальний це корабель чи ні як логічне значення <span>(bool{% if is_js %}ean{% endif %})</span>. 
</p>


<p>
    <strong>Приклади:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">

    <strong>Як це використовується:</strong>
    <i>Це приклад простого розпізнавання образів у тексті та дискретних сигналах.</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Вхідні дані:</strong>
    <ul>
    <li><i>21 &le; число &le; 1057222719;</i></li>
    <li><i>У кожному тесті лише три сигнали.</i></li>
    </ul>
</p>
